*.iml
.gradle
/local.properties
/.idea/caches
/.gemini
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/#_resources_and_previous_builds

# Firebase
app/google-services.json
/update_models/mark-vii-firebase-service-account-key.json
